@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1>Welcome to the Movie Application</h1>
    <p class="lead">Explore the latest information about movies.</p>
    <p>This application provides details on a variety of movies, including title, release dates, genres, price and ratings.</p>
    @Html.ActionLink("Show Movie List","", "Movies", null, new { @class = "btn btn-primary btn-lg" })
</div>


