@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>From time to time, we may change the Movies Anywhere Privacy Policy. If any change is material, we will provide appropriate notice to you, and, where required, we will obtain your consent. Notices regarding any material change to the Movies Anywhere Privacy Policy may be delivered by methods such as through your registered email or providing notice on the Services.</p>
